name: Build & run all tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 11.x
        uses: actions/setup-node@master
        with:
          node-version: 11.x

      - name: Install dependencies # Install all deps
        run: yarn

      - name: Sync versions # Sync versions
        run: yarn syncprojects

      - name: Build ngx-scrolltop # Build
        run: yarn build

      - name: Build Schematics # Build Schematics and move
        run: yarn build:schematics

      - name: Build Example # Build Example page
        run: yarn build:example

      - name: Run tests # Build Schematics and move
        run: yarn test --configuration=ci
